<!DOCTYPE html>
<html lang="en">

<head>
  <title>about</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>Created by Minh Huy. This website uses data from mapbox and weatherstack api</p>
    <img class="portrait" src="/img/robot.png" alt="robot">
  </div>
  {{>footer}}
</body>

</html>